fastapi==0.116.0
uvicorn==0.35.0

torch==2.7.1
transformers==4.53.1
tokenizers==0.21.2
safetensors==0.5.3
huggingface-hub==0.33.2
sentence-transformers==5.0.0

scikit-learn==1.7.0
scipy==1.15.3
numpy==2.2.6

tqdm==4.67.1
regex==2024.11.6
joblib==1.5.1

python-dotenv==1.1.1
requests==2.32.4

beautifulsoup4==4.13.4
httpx==0.28.1
google-api-python-client==2.176.0
google-generativeai==0.8.5
openai==1.93.3
